<ion-view view-title="Indus Mobile Application">
  <ion-content class="padding">
    <div class="row row-center padding-bottom padding-top">
      <div class="col col-25">
        <img src="img/logo.png" class="text-center" width="100%">
        
      </div>
      <div class="col col-75">
        <img src="img/slider.jpg" width="100%">
      </div>
    </div>
    <div class="padding-40">
      <div class="row">
        <div class="col col-50 no-border">
          <a class="item item-image" href="#/tab/home/about">
            <img src="img/about.png">
          </a>
          
          <a class="item item-text-wrap" href="#/tab/home/about">
            <h4>About Us</h4>
          </a>
        </div>
        <div class="col col-50 no-border">
          <a class="item item-image" href="#/tab/home/feeds" >
            <img src="img/feeds.png">
          </a>
          
          <a class="item item-text-wrap" href="#/tab/home/feeds">
            <h4>Feeds</h4>
          </a>
        </div>      
      </div>
      <div class="row">
        <div class="col col-50 no-border">
          <a class="item item-image" href="#/tab/home/projects">
            <img src="img/projects.png">
          </a>
          
          <a class="item item-text-wrap" href="#/tab/home/projects">
            <h4>Projects</h4>
          </a>
        </div>
        <div class="col col-50 no-border">
          <a class="item item-image" href="#/tab/home/schedules">
            <img src="img/schedule.png">
          </a>
          
          <a class="item item-text-wrap" href="#/tab/home/schedules">
            <h4>Schedules</h4>
          </a>
        </div>      
      </div>
      <div class="row">
        <div class="col col-50 no-border">
          <a class="item item-image" href="#/tab/home/services">
            <img src="img/services.png">
          </a>
          
          <a class="item item-text-wrap" href="#/tab/home/services">
            <h4>Services</h4>
          </a>
        </div>
        <div class="col col-50 no-border">
          <a class="item item-image" href="#/tab/home/vacancy">
            <img src="img/locations.png">
          </a>
          
          <a class="item item-text-wrap" href="#/tab/home/vacancy">
            <h4>Job Vacancies</h4>
          </a>
        </div>      
      </div>

    </div>
  </ion-content>
</ion-view>
