<ion-view view-title="Book an Appointment">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone Number</span>
        <input type="text" placeholder="+9231313131">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Doctor's Name</span>
        <input type="text" placeholder="Doe">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="descriptions">
      </label>
      <button class="button button-positive button-full">
        Book
      </button>
    </div>    
  </ion-content>
</ion-view>
